## Conditional Statements

In [2]:
age = int(input("Please enter your age :"))

print(f"Your age is : {age}")

if age >= 18 : 
    print("You are eligibile for all government benifits")
else :
    print("You are not an adult now")

Please enter your age : 15

Your age is : 15
You are not an adult now

In [9]:
#If you want to use 3 conditions to be checked then we should use elif also in the condition box 

age = int(input("Please enter your age :"))

if age >= 18 and age < 30 : 
    print("you are an adult")
elif age >= 14 and age < 18 :
    print("You are a child now")
elif age >= 30 and age < 45 :
    print("You are a man now")
    
else:
    print("You are a kid now")

Please enter your age : 24

you are an adult

In [10]:
# take 3 values and compare the values of each with the other values and find the bigger values of out of 3

a = int(input("Enter the value of a : "))
b = int(input("Enter the value of b : "))
c = int(input("Enter the value of c : "))

if a == b and a == c :
    print("All are equal")
elif a >= b and a > c :
    print("A is the bigger number")
elif b >= a and b > c :
    print("B is the bigger number")
else :
    print("C is bigger number")

Enter the value of a :  10
Enter the value of b :  30
Enter the value of c :  24

B is the bigger number

In [11]:
# Grading 

marks = int(input("Please enter your marks : "))

if marks >= 90 :
    print ("Congrats, you got A grade.")
elif marks >= 80:
    print("B Grade")
elif marks >= 70 :
    print("C Grade")
elif marks >= 60 :
    print ("D grade")
else :
    print("Fail")

Please enter your marks :  80

B Grade

## Functions

In [13]:
a = 20 

if a%2 == 0 :
    print("Even number")
else : 
    print("Odd number")

Even number

In [15]:
# Greeting 
# We can initialize the parameter values during the function creation if required

def wish(name = "Mr. No Name"):
    print(f"Welcome to USA {name}")

wish()
wish("Chenchu")

Welcome to USA Mr. No Name
Welcome to USA Chenchu

In [24]:
# Create Table 

def create_table(num):
    i = 1
    for i in range(11):
        print(f"{num} * {i} = {num * i}")
        i += 1
        
create_table(10)

10 * 0 = 0
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [25]:
numbers = (10, 20, 30, 50)
summation = sum(numbers)
print(summation)

110

In [26]:
def calc_sum(*args):
    print(sum(args))

calc_sum(1, 2, 4, 5, 6, 10)
calc_sum(-10, 10, -20, 20)

28
0

In [28]:
def summing(*args):
    total = 0
    print(type(args))
    print(args)
    for i in args:
        total += i
    return total

summing(10, 50, 20, 30)

<class 'tuple'>
(10, 50, 20, 30)

110

In [37]:
def cal_summ(a = 10, b = 20):
    return a + b

print(cal_summ(20, 20))
print(cal_summ(20, 30))
print(cal_summ())

40
50
30

In [38]:
# Find average 

def average(*args):
    sum = 0
    for i in args:
        sum += i
    return sum/len(args)
print(average(10, 20, 30, 50, 18, 25))

25.5

In [39]:
# Average in another way 

def avg(*args):
    return sum(args)/len(args)

avg(10, 20, 30)

20.0

In [46]:
# Nested Functions 

def calculator(*args):
    def calc_sum(*args):
        return sum(args)
    def calc_avg(*args):
        return sum(args)/len(args)
    def calc_prod(*args):
        prod = 1
        for i in args:
            prod *=i
        return prod
    return calc_sum(*args), calc_avg(*args), calc_prod(*args)

calculator(10, 20, 40, 60, 21, 13)

(164, 27.333333333333332, 131040000)

In [53]:
## *args, **kwargs

def function_with_both(*args, **kwargs):
    print(args)
    print(kwargs)
    print(type(args))
    print(type(kwargs))

function_with_both(1, 2, 4, 3, 6, 19,10, 100, name = "Chenchu", c = 10, city = "New York", b = 100 , Role = "Scientist")

(1, 2, 4, 3, 6, 19, 10, 100)
{'name': 'Chenchu', 'c': 10, 'city': 'New York', 'b': 100, 'Role': 'Scientist'}
<class 'tuple'>
<class 'dict'>

In [56]:

def both_function(*args, **kwargs):
    for arg in args:
        print(arg)
    for kwarg in kwargs:
        print(kwarg, ":", kwargs[kwarg])

both_function(1, 2, 4, 3, 6, 19,10, 100, name = "Chenchu", c = 10, city = "New York", b = 100 , Role = "Scientist")

1
2
4
3
6
19
10
100
name : Chenchu
c : 10
city : New York
b : 100
Role : Scientist

In [60]:
# Lambda functions 

add = lambda x, y=1, z = 1: x+y+z

print(add(2,2,3))
print(add(5))
print(add(1))
print(add(5,5))

7
7
3
11

In [62]:
# Filtering the lists 
numbers =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

even_numbers = list(filter(lambda x: x%2 ==0, numbers))

print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [4]:
# Decorator 
def my_decorator(func):
    def wrapper():
        print("Something is happening before the function is called")
        func()
        print("Something is happening after function is called")
    return wrapper


def say_hello():
    print("Hello world")
    
decorated_hello = my_decorator(say_hello)
decorated_hello()

Something is happening before the function is called
Hello world
Something is happening after function is called

In [5]:
@my_decorator
def say_goodbye():
    print("Good Bye")

say_goodbye()

Something is happening before the function is called
Good Bye
Something is happening after function is called

In [11]:
## Recursion
# Recursion is : a function is calling itself until basecase reached 

def show(n):
    if n == 0 :
        print("END OF THE FUNCTION CALL")
        return
    print(n)
    show(n-1)
    
    
show(10)

10
9
8
7
6
5
4
3
2
1
END OF THE FUNCTION CALL

In [19]:
# Factorial 

def facto(n):
    if (n == 0 or n==1):
        return 1
    else:
        return n * facto(n-1)
       
facto(5)

120

In [20]:
# Write program to calculate and print the first n natural numbers sum using recursion.

def summation(n):
    if n == 0 :
        return 0
    else:
        return n + summation(n-1)
summation(10)

55