## Conditional Statements

In [4]:
# String methods 

new_str = "The cow jumped over the moon."
new_str.split()

['The', 'cow', 'jumped', 'over', 'the', 'moon.']

In [5]:
new_str.split(' ', 2) # it splits first 2 words and then remaining as one word

['The', 'cow', 'jumped over the moon.']

In [6]:
new_str.split('.')

['The cow jumped over the moon', '']

In [7]:
verse = "If you can keep your head when all about you\n  Are losing theirs and blaming it on you,\nIf you can trust yourself when all men doubt you,\n  But make allowance for their doubting too;\nIf you can wait and not be tired by waiting,\n  Or being lied about, don’t deal in lies,\nOr being hated, don’t give way to hating,\n  And yet don’t look too good, nor talk too wise:"
print(verse, "\n")

print("Verse has a length of {} characters.".format(len(verse)))
print("The first occurence of the word 'and' occurs at the {}th index.".format(verse.find('and')))
print("The last occurence of the word 'you' occurs at the {}th index.".format(verse.rfind('you')))
print("The word 'you' occurs {} times in the verse.".format(verse.count('you')))

If you can keep your head when all about you
  Are losing theirs and blaming it on you,
If you can trust yourself when all men doubt you,
  But make allowance for their doubting too;
If you can wait and not be tired by waiting,
  Or being lied about, don’t deal in lies,
Or being hated, don’t give way to hating,
  And yet don’t look too good, nor talk too wise:

Verse has a length of 362 characters.
The first occurence of the word 'and' occurs at the 65th index.
The last occurence of the word 'you' occurs at the 186th index.
The word 'you' occurs 8 times in the verse.

In [14]:
verse = "if you can keep your head when all about you are losing theirs and blaming it on you   if you can trust yourself when all men doubt you     but make allowance for their doubting too   if you can wait and not be tired by waiting      or being lied about  don’t deal in lies   or being hated  don’t give way to hating      and yet don’t look too good  nor talk too wise"
print(verse, "\n")

## split verse into list of words
verse_list = verse.split()
print(verse_list, '\n')

## convert list to set to get unique words
verse_set = set(verse_list)
print(verse_set, '\n')

## print the number of unique words
num_unique = len(verse_set)
print(num_unique)

if you can keep your head when all about you are losing theirs and blaming it on you   if you can trust yourself when all men doubt you     but make allowance for their doubting too   if you can wait and not be tired by waiting      or being lied about  don’t deal in lies   or being hated  don’t give way to hating      and yet don’t look too good  nor talk too wise

['if', 'you', 'can', 'keep', 'your', 'head', 'when', 'all', 'about', 'you', 'are', 'losing', 'theirs', 'and', 'blaming', 'it', 'on', 'you', 'if', 'you', 'can', 'trust', 'yourself', 'when', 'all', 'men', 'doubt', 'you', 'but', 'make', 'allowance', 'for', 'their', 'doubting', 'too', 'if', 'you', 'can', 'wait', 'and', 'not', 'be', 'tired', 'by', 'waiting', 'or', 'being', 'lied', 'about', 'don’t', 'deal', 'in', 'lies', 'or', 'being', 'hated', 'don’t', 'give', 'way', 'to', 'hating', 'and', 'yet', 'don’t', 'look', 'too', 'good', 'nor', 'talk', 'too', 'wise']

{'lies', 'doubting', 'all', 'losing', 'look', 'are', 'men', 'or', 'hating', 'if', 'when', 'yet', 'deal', 'theirs', 'you', 'trust', 'too', 'not', 'nor', 'way', 'by', 'waiting', 'being', 'wise', 'hated', 'to', 'it', 'can', 'but', 'yourself', 'be', 'in', 'keep', 'give', 'and', 'doubt', 'make', 'their', 'good', 'tired', 'wait', 'head', 'about', 'your', 'on', 'don’t', 'talk', 'allowance', 'blaming', 'for', 'lied'}

51

In [2]:
age = int(input("Please enter your age :"))

print(f"Your age is : {age}")

if age >= 18 : 
    print("You are eligibile for all government benifits")
else :
    print("You are not an adult now")

Please enter your age : 15

Your age is : 15
You are not an adult now

In [9]:
#If you want to use 3 conditions to be checked then we should use elif also in the condition box 

age = int(input("Please enter your age :"))

if age >= 18 and age < 30 : 
    print("you are an adult")
elif age >= 14 and age < 18 :
    print("You are a child now")
elif age >= 30 and age < 45 :
    print("You are a man now")
    
else:
    print("You are a kid now")

Please enter your age : 24

you are an adult

In [10]:
# take 3 values and compare the values of each with the other values and find the bigger values of out of 3

a = int(input("Enter the value of a : "))
b = int(input("Enter the value of b : "))
c = int(input("Enter the value of c : "))

if a == b and a == c :
    print("All are equal")
elif a >= b and a > c :
    print("A is the bigger number")
elif b >= a and b > c :
    print("B is the bigger number")
else :
    print("C is bigger number")

Enter the value of a :  10
Enter the value of b :  30
Enter the value of c :  24

B is the bigger number

In [11]:
# Grading 

marks = int(input("Please enter your marks : "))

if marks >= 90 :
    print ("Congrats, you got A grade.")
elif marks >= 80:
    print("B Grade")
elif marks >= 70 :
    print("C Grade")
elif marks >= 60 :
    print ("D grade")
else :
    print("Fail")

Please enter your marks :  80

B Grade

## Functions

In [13]:
a = 20 

if a%2 == 0 :
    print("Even number")
else : 
    print("Odd number")

Even number

In [15]:
# Greeting 
# We can initialize the parameter values during the function creation if required

def wish(name = "Mr. No Name"):
    print(f"Welcome to USA {name}")

wish()
wish("Chenchu")

Welcome to USA Mr. No Name
Welcome to USA Chenchu

In [24]:
# Create Table 

def create_table(num):
    i = 1
    for i in range(11):
        print(f"{num} * {i} = {num * i}")
        i += 1
        
create_table(10)

10 * 0 = 0
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [25]:
numbers = (10, 20, 30, 50)
summation = sum(numbers)
print(summation)

110

In [26]:
def calc_sum(*args):
    print(sum(args))

calc_sum(1, 2, 4, 5, 6, 10)
calc_sum(-10, 10, -20, 20)

28
0

In [28]:
def summing(*args):
    total = 0
    print(type(args))
    print(args)
    for i in args:
        total += i
    return total

summing(10, 50, 20, 30)

<class 'tuple'>
(10, 50, 20, 30)

110

In [37]:
def cal_summ(a = 10, b = 20):
    return a + b

print(cal_summ(20, 20))
print(cal_summ(20, 30))
print(cal_summ())

40
50
30

In [38]:
# Find average 

def average(*args):
    sum = 0
    for i in args:
        sum += i
    return sum/len(args)
print(average(10, 20, 30, 50, 18, 25))

25.5

In [39]:
# Average in another way 

def avg(*args):
    return sum(args)/len(args)

avg(10, 20, 30)

20.0

In [46]:
# Nested Functions 

def calculator(*args):
    def calc_sum(*args):
        return sum(args)
    def calc_avg(*args):
        return sum(args)/len(args)
    def calc_prod(*args):
        prod = 1
        for i in args:
            prod *=i
        return prod
    return calc_sum(*args), calc_avg(*args), calc_prod(*args)

calculator(10, 20, 40, 60, 21, 13)

(164, 27.333333333333332, 131040000)

In [53]:
## *args, **kwargs

def function_with_both(*args, **kwargs):
    print(args)
    print(kwargs)
    print(type(args))
    print(type(kwargs))

function_with_both(1, 2, 4, 3, 6, 19,10, 100, name = "Chenchu", c = 10, city = "New York", b = 100 , Role = "Scientist")

(1, 2, 4, 3, 6, 19, 10, 100)
{'name': 'Chenchu', 'c': 10, 'city': 'New York', 'b': 100, 'Role': 'Scientist'}
<class 'tuple'>
<class 'dict'>

In [56]:

def both_function(*args, **kwargs):
    for arg in args:
        print(arg)
    for kwarg in kwargs:
        print(kwarg, ":", kwargs[kwarg])

both_function(1, 2, 4, 3, 6, 19,10, 100, name = "Chenchu", c = 10, city = "New York", b = 100 , Role = "Scientist")

1
2
4
3
6
19
10
100
name : Chenchu
c : 10
city : New York
b : 100
Role : Scientist

In [60]:
# Lambda functions 

add = lambda x, y=1, z = 1: x+y+z

print(add(2,2,3))
print(add(5))
print(add(1))
print(add(5,5))

7
7
3
11

In [62]:
# Filtering the lists 
numbers =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

even_numbers = list(filter(lambda x: x%2 ==0, numbers))

print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [4]:
# Decorator 
def my_decorator(func):
    def wrapper():
        print("Something is happening before the function is called")
        func()
        print("Something is happening after function is called")
    return wrapper


def say_hello():
    print("Hello world")
    
decorated_hello = my_decorator(say_hello)
decorated_hello()

Something is happening before the function is called
Hello world
Something is happening after function is called

In [5]:
@my_decorator
def say_goodbye():
    print("Good Bye")

say_goodbye()

Something is happening before the function is called
Good Bye
Something is happening after function is called

In [11]:
## Recursion
# Recursion is : a function is calling itself until basecase reached 

def show(n):
    if n == 0 :
        print("END OF THE FUNCTION CALL")
        return
    print(n)
    show(n-1)
    
    
show(10)

10
9
8
7
6
5
4
3
2
1
END OF THE FUNCTION CALL

# Factorial 

def facto(n):
    if (n == 0 or n==1):
        return 1
    else:
        return n * facto(n-1)
       
facto(5)

In [20]:
# Write program to calculate and print the first n natural numbers sum using recursion.

def summation(n):
    if n == 0 :
        return 0
    else:
        return n + summation(n-1)
summation(10)

55

## Loops

#### There are 2 types of loops are there in the python : for loop while loop 
#### Loops are used for repeated instructions 
#### Mainly used for iterate over sequence like list, tuple, strings or other iterable objects

In [24]:
# Print numbers 1 to 100
i = 1
while i <=100:
    print(i, end=" ")
    i = i+1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [28]:
# Print the nums from 100 to 1
j = 100
while j >= 1:
    print(j, end = " ")
    j = j-1

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [29]:
# print the multiplication table of n from 1 to 10
table_num = int(input("Enter the number to print it's table : "))
n = 1
while n <= 10:
    print(f"{table_num} * {n} = {n*table_num}")
    n = n+1

Enter the number to print it's table :  10

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [35]:
# Print the elements of the following list using a loop 
import time

list = [43, 27, 27, 81, 83, 384]
idx = 0

while idx < len(list):
    print(list[idx])
    time.sleep(1)
    idx += 1

43
27
27
81
83
384

In [1]:
# Iterate the list of names 

names = ["Ram", "Chenchu", "Krish", "Tirupathi", "Rajia", "Pinnaboina"]
idx = 0
while idx < len(names):
    print(names[idx])
    idx += 1

Ram
Chenchu
Krish
Tirupathi
Rajia
Pinnaboina

In [1]:
# Search a number in the below tuple 

import time 

tuple1 = (73, 373, 2, 1, 7, 0, 9, 27)
target = 7
idx = 0

while idx < len(tuple1):
    if tuple1[idx]==target :
        print(f"the {target} found at the position of {idx}")
        break
    else:
        time.sleep(1)
        print("Searching the target")
    idx += 1

Searching the target
Searching the target
Searching the target
Searching the target
the 7 found at the position of 4

### BREAK : To stop the iteration even if the condition is true 
### CONTINUE : Terminates the current iteration and continues with the next iteration

In [3]:
i = 1

while i <= 5:
    if i == 3 :
        i += 1
        continue
    print(i)
    i += 1

1
2
4
5

In [4]:
i = 1

while i <= 10:
    if i % 2 == 0:
        i += 1
        continue 
    print(i)
    i +=1

1
3
5
7
9

In [6]:
b = 1
while b <= 15:
    if b == 13:
        print("Breaking the look as the b value is 13 now")
        break
    elif b==10:
        print("Skipping the current iteration as the b value is 10")
        b += 1
        continue 
    print(b)
    b += 1

1
2
3
4
5
6
7
8
9
Skipping the current iteration as the b value is 10
11
12
Breaking the look as the b value is 13 now

In [7]:
# For Loop : The for loop in Python is used to iterate over a sequence (list, tuple, string, string) or other iterable objects.
# Syntax: for element in sequence:

veggies = ["Tomato", "Potato", "Onion", "Cabbage"]
i=0

for val in veggies:
    print(i, val)
    i += 1

0 Tomato
1 Potato
2 Onion
3 Cabbage

In [10]:
string_name = "University of South Dakota"
total_chars = 0

for char in string_name:
    print(char)
    total_chars += 1
print(f"Total Chars in the string is : {total_chars}")

U
n
i
v
e
r
s
i
t
y

o
f

S
o
u
t
h

D
a
k
o
t
a
Total Chars in the string is : 26

In [12]:
# 1. Print the elements of the following list using while loop:
# list1 = [10, 20, 30, 40, 50, 100, 200, 300, 400, 500]

list1 = [10, 20, 30, 40, 50, 100, 200, 300, 400, 500]
id = 0
while id < len(list1):
    print(list1[id])
    id += 1

10
20
30
40
50
100
200
300
400
500

In [15]:
# Using for Loop

list1 = [10, 20, 30, 40, 50, 100, 200, 300, 400, 500]

for i in list1:
    print(i)

for i in range(len(list1)):
    print(f"Iteration {i}: {list1[i]}")

10
20
30
40
50
100
200
300
400
500
Iteration 0: 10
Iteration 1: 20
Iteration 2: 30
Iteration 3: 40
Iteration 4: 50
Iteration 5: 100
Iteration 6: 200
Iteration 7: 300
Iteration 8: 400
Iteration 9: 500

In [17]:
# Practice Questions
# 2. Search for a number in the below tuple and print the index of the number:

tuple1 = (10, 20, 30, 40, 50, 100, 200, 300, 20, 500, 20)
target = 100
for i in range(len(tuple1)):
    if tuple1[i] == target:
        print(f"The {target} found at the {i}th location in the tuple")
    else:
        print(tuple1[i])

10
20
30
40
50
The 100 found at the 5th location in the tuple
200
300
20
500
20

In [19]:
for i in range(5):
    print("Hello world it is iteration ", i)

print("***********************")

for i in range(5, 10):
    print("Hello world it is iteration ", i)

print("***********************")

for i in range(0, 10, 2):
    print("Hello world it is iteration ", i)

Hello world it is iteration  0
Hello world it is iteration  1
Hello world it is iteration  2
Hello world it is iteration  3
Hello world it is iteration  4
***********************
Hello world it is iteration  5
Hello world it is iteration  6
Hello world it is iteration  7
Hello world it is iteration  8
Hello world it is iteration  9
***********************
Hello world it is iteration  0
Hello world it is iteration  2
Hello world it is iteration  4
Hello world it is iteration  6
Hello world it is iteration  8

In [20]:
# Print numbers form 1 to 100 using for or range

for i in range(1, 101):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [22]:
# Print the nums from 100 to 1 

for i in range(100, 0, -1):
    print(i, end=" ")

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [24]:
# Print the multiplication of the n

n = int(input("Please enter the input :"))

for i in range(1, 11, 1):
    print(f"{n} X {i} = {n*i}")

Please enter the input : 11

11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
11 X 10 = 110

In [25]:
# Write a program to find the sum of first n numbers

In [36]:
# WAP to find the factorial of first n numbers (using for loop)

f_num = int(input("Please enter the number to find the factorial : "))
factorial = 1
for i in range(1,f_num+1):
    factorial *=i
print(f"Factorial of {f_num} is : {factorial}")

Please enter the number to find the factorial :  10

Factorial of 10 is : 3628800

In [39]:
f_num = int(input("Please enter the number to find the factorial : "))
factorial = 1
for i in range(f_num,0, -1):
    factorial *= i
print(f"Factorial of {f_num} is : {factorial}")

Please enter the number to find the factorial :  5

Factorial of 5 is : 120

In [40]:
# Search for a tuple using the loop 

tuple1 = (1, 2, 4, 7, 9, 12, 8, 13, 1, 32, 4, 7, 9)
tar = 12

for i in range(len(tuple1)):
    if tuple1[i] == tar:
        print(f"The {tar} found at {i}th position")
    else:
        print(f"Searching the {tar}, {i} time")

Searching the 12, 0 time
Searching the 12, 1 time
Searching the 12, 2 time
Searching the 12, 3 time
Searching the 12, 4 time
The 12 found at 5th position
Searching the 12, 6 time
Searching the 12, 7 time
Searching the 12, 8 time
Searching the 12, 9 time
Searching the 12, 10 time
Searching the 12, 11 time
Searching the 12, 12 time

In [43]:
# Search for a tuple using the loop 

tuple1 = (1, 2, 4, 7, 9, 12, 8, 13, 1, 32, 4, 7, 9)
tar = 12

for val in tuple1:
    if val == tar:
        print(f"{tar} has been found at {tuple1.index(val)}th position")

12 has been found at 5th position

In [48]:
# char search in the String 

name ="ChenchuReddy"
tar = 'R'

for ch in name:
    if ch == tar:
        print(f"{tar} has been found at {name.index(tar)}th position")

R has been found at 7th position

In [53]:
# Using while looop 
name ="ChenchuReddy"
tar = 'R'
idx=0

while idx < len(name):
    if name[idx] == tar :
        print(f"{tar} has been found at {idx} position")
    else:
        print("Searching")
    idx += 1

Searching
Searching
Searching
Searching
Searching
Searching
Searching
R has been found at 7 position
Searching
Searching
Searching
Searching

In [56]:
names = []

for i in range(5):
    name = input(f"Enter the name{i} :")
    names.append(name)
print(names)

Enter the name0 : as
Enter the name1 : saf
Enter the name2 : fs
Enter the name3 : gd
Enter the name4 : gd

['as', 'saf', 'fs', 'gd', 'gd']

## FILE HANDLING

""" 'r' - Read mode (default)

    'w' - Write mode, creates a new file or truncates the existing file
    
    'a' - Append mode, for adding new content to the end of the file
    
    'b' - Binary mode for binary files (used with other modes, e.g., 'rb', 'wb')
    
    '+' - Update mode, for reading and writing to the same file (e.g., 'r+', 'w+')"""

In [17]:
my_dict = {'a':[0, 1, 2, 3], 'b':[0, 1, 2, 3], 'c':[0, 1, 2, 3], 'd':[0, 1, 2, 3]}
i = 0
output = []
for key in my_dict:
    output.append(my_dict[key][i])
    i += 1
print(output)

[0, 1, 2, 3]